OPENAI_API_KEY=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
AMADEUS_CLIENT_ID=2e6zAUX7o1XjUGgan4V9vNnIK9IGULRA
AMADEUS_CLIENT_SECRET=gAr3R5kfy4HPEwGt

NEXT_PUBLIC_BACKEND_API_URL=/api/v1
BACKEND_API_BASE_URL=http://tri-api-dev/api/v1
BACKEND_PROXY_TARGET=http://tri-api-dev